dagshub==0.7.1
fastapi==0.141.1
mlflow==3.16.1
mlflow_skinny==3.16.1
mlflow_tracing==3.16.1
nltk==3.10.0
pydantic==2.13.5

numpy==2.5.3
pandas==3.0.6
pytest==9.1.1
psutil==7.2.2
scikit-learn==1.9.1
scipy==1.18.1
skops==0.15.0

uvicorn==0.52.1
gunicorn==23.0.0